tr.header {
    color: blue;
    font-size: 25px;
    padding: 20px;
    
}
tr.row1 {
    color: purple;
    font-size: 14px;
    padding: 20px;
}
tr.row2 {
    color: green;
    font-size: 14px;
    padding: 20px;
}
tr.row3 {
    color: red;
    font-size: 20px;
}
table {
    margin: 0 auto;
}